/* || General */

$background-color: #eaeaea;

* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
    vertical-align: baseline;
    font-size: 100%;
    font: inherit;
}

body {
    font-family: Helvetica, 'Open Sans', Arial, sans-serif;
    font-size: 12pt;
    font-weight: normal;
}

body, html {
    width: 100%;
    height: 100%;
    background-color: $background-color;
}

ol, ul {
    list-style: none;
}

#site {
    max-width: 1500px;
    height: 100%;
    min-height: 100%;
    margin: 0 auto -35px;
    background-color: #fff;
}

/* || Info popup */

$img-width: 15px;
$img-height: 15px;

$popup-bg-color: #555;
$popup-color: #fff;

img.info {
    width: $img-width;
    height: $img-height;
}

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.popup ul {
    list-style: disc;
}
  
/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    position: absolute;
    top: 125%;
    left: 50%;
    z-index: absolute;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    transform: translateX(-50%);
    background-color: $popup-bg-color;
    font-size: 12pt;
    color: $popup-color;
    text-align: left;
}
  
/* Popup arrow */
.popup .popuptext::after {
    position: absolute;
    bottom: 100%;
    left: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent $popup-bg-color transparent;
    margin-left: -5px;
    content: "";
}
  
/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: popupFadeIn 1s;
    animation: popupFadeIn 1s
}

.popuptext .key {
    font-weight: bold;
}

.popuptext .value {
    font-family: 'Courier New', Courier, monospace;
}
/* Add animation (fade in the popup) */
@-webkit-keyframes popupFadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
  
@keyframes popupFadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
} 